.new-event {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  padding: 1rem 0;
  border-radius: 1rem;
}

.new-event > h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.new-event > form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.new-event > form .field {
  width: 100%;
  padding: 0 2rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new-event > form .field label {
  margin-bottom: 1rem;
}
.new-event > form .field input {
  border: none;
  outline: none;
  width: 50%;
  display: block;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 1rem;
}

.new-event > form .field textarea {
  border: none;
  outline: none;
  width: 50%;
  display: block;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 1rem;
  min-height: 6rem;
}

.new-event > form .btn {
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
  padding: 1rem;
  font-size: 1rem;
  font-weight: 400;
  border-radius: 1rem;
  margin-top: 2rem;
  border: 0;
  cursor: pointer;
  color: #FFF;
  transition: filter 300ms;
}

.new-event > form .btn:hover {
  filter: brightness(0.8);
}